<div  fxLayout="row" fxLayoutAlign="space-between center" class="container" >
    <div  fxLayoutAlign="space-around center" class="container1" fxFlexOffset="10" > 
        <a routerLink="/home"><img src="../../../../assets/start.png" alt=""  class="imgstart"></a>
        
        
        
        
    </div>
    <div fxLayout="column" fxLayoutAlign="center start" class="container2">
        
        <img src="../../../../assets/bluewave.png" class="imgwave" alt="" fxFlexOffset="-10">
    
              
    </div>
    
</div>
